.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem;
  height: 100%;
  margin: auto;
  max-width: 60rem;
}

.checkContainer {
  background-color: #084f43;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.resultsContainer {
  border-radius: 8px;
  padding: 0.5rem 0;
  background-color: #fff;
}

h1 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  padding: 0.5rem 0;
  background-color: #084f43;
  color: #fff;
  font-weight: 500;
}

.cnpjChecked {
  margin-bottom: 0.5rem;
}

.viewContainer {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 8px;
}

.viewItem {
  background-color: white;
  padding: 0.5rem;
  border-bottom: 1px #afafaf solid;
}

.buttonContainer {
  display: flex;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

button {
  width: 100%;
  background-color: #039661;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px #fff solid;
  border-radius: 4px;
  font-weight: 500;
}

.title {
  padding-left: 0.5rem;
}

.blockContainer {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 120%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.modalContainer {
  position: absolute;
  width: 90vw;
  max-width: 60rem;
  background-color: #084f43;
  padding: 1rem;
  align-self: center;
  border-radius: 8px;
  z-index: 2;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.formInput {
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px #f2f2f2 solid;
  background: #fdfdfd;
}

.formLabel {
  color: #fff;
}

.saveButton,
.consultButton {
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .wrapper {
    padding: 1em 2em;
  }
  .blockContainer {
    height: 115%;
  }
  .viewContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .blockContainer {
    height: 115%;
  }
  .modalContainer {
    padding: 2rem 1rem;
  }
  .modalInputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .formInput, .formLabel {
    margin: 0 0.5rem;
  }
  .modalSectionTitle {
    margin-left: 0.5rem;
  }
}
